@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
}

body::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .50;
    z-index: -1;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 3% 30%;
}

.cabecalho_titulo {
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho_ul {
    display: flex;
    list-style: none;
    gap: 1.25rem;
    
}

.cabecalho_ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(0, 26, 255);
}

.cabecalho_ul a:hover {
    text-decoration: underline;
    transition: 0.5s;
    text-shadow: 0px 0px 10px white;
    text-transform: translate(4px);
}

img {
    border: 3px solid cyan;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(211, 218, 149);
}

.conteudo_principal {
    text-align: center;
    color: aliceblue;
    flex: 1;
}

.p_inicio {
    padding-top: 1.25rem;
}

.h1_inicio, .p_inicio, .titulo_principal_diferenciais, .titulo_diferenciais1, .titulo_diferenciais2, .titulo_diferenciais3, .contatos {
    padding-bottom: 1.25rem;
}

.botao {
    font-size: 1rem;
    padding: 3px 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px white;
    transition: 0.5s;
}

.botao:hover {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    transform: translateY(4px);
}

.botao a {
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 768px) {
    .div_diferenciais, .cabecalho {
        flex-direction: column;
        text-align: center;
    }

    .cabecalho_ul {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .div_inicio img {
        max-width: 90%;
    }
}

.div_diferenciais {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    gap: 30px;
}

.titulo_principal_diferenciais, .contatos {
    padding-top: 2.25rem;
}

.div_diferencial1, .div_diferencial2, .div_diferencial3 {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 3px solid cyan;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(204, 0, 255);
    word-wrap: break-word;
}

.div_contatos a {
    text-decoration: none;
    color: rgb(194, 252, 255);
}

.h2_contatos {
    padding-bottom: 5px;
}

.rodape {
    text-align: center;
    color: aliceblue;
    padding: 1rem;
}



